In [1]:
# importing libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mlt
%matplotlib inline

In [2]:
# Data Ingestion

df = pd.read_csv("https://raw.githubusercontent.com/shrikant-temburwar/Wine-Quality-Dataset/master/winequality-red.csv",sep= ";")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
# lets check the class of target variable

df['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [6]:
# values of each classes

df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [7]:
# stat analysis

df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [8]:
# lets check duplicate

df.duplicated().sum()

240

In [9]:
# lets drop duplicate values

data= df.drop_duplicates()

In [10]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [11]:
# lets check duplicated data ones again

data.duplicated().sum()

0

In [12]:
#lets check the null values

data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [13]:
# found that there is no null values

In [14]:
# lets go ahead and split the data into 

x= data.drop("quality",axis=1)
y= data["quality"]

In [15]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [16]:
y

0       5
1       5
2       5
3       6
5       5
       ..
1593    6
1594    5
1595    6
1597    5
1598    6
Name: quality, Length: 1359, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split,GridSearchCV
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.33,random_state=10)

In [18]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
903,6.8,0.59,0.06,6.0,0.060,11.0,18.0,0.99620,3.41,0.59,10.8
734,7.7,0.56,0.20,2.0,0.075,9.0,39.0,0.99870,3.48,0.62,9.3
568,9.8,0.50,0.49,2.6,0.250,5.0,20.0,0.99900,3.31,0.79,10.7
1533,8.0,0.39,0.30,1.9,0.074,32.0,84.0,0.99717,3.39,0.61,9.0
764,9.1,0.68,0.11,2.8,0.093,11.0,44.0,0.99888,3.31,0.55,9.5
...,...,...,...,...,...,...,...,...,...,...,...
1354,7.2,0.58,0.03,2.3,0.077,7.0,28.0,0.99568,3.35,0.52,10.0
1583,6.2,0.46,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8
607,8.8,0.48,0.41,3.3,0.092,26.0,52.0,0.99820,3.31,0.53,10.5
1356,6.1,0.34,0.25,1.8,0.084,4.0,28.0,0.99464,3.36,0.44,10.1
1519,6.6,0.70,0.08,2.6,0.106,14.0,27.0,0.99665,3.44,0.58,10.2

In [19]:
x_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1008,8.9,0.350,0.40,3.6,0.110,12.0,24.0,0.99549,3.23,0.70,12.0
1163,9.0,0.785,0.24,1.7,0.078,10.0,21.0,0.99692,3.29,0.67,10.0
689,8.1,0.380,0.48,1.8,0.157,5.0,17.0,0.99760,3.30,1.05,9.4
112,8.4,0.600,0.10,2.2,0.085,14.0,111.0,0.99640,3.15,0.66,9.8
510,12.4,0.420,0.49,4.6,0.073,19.0,43.0,0.99780,3.02,0.61,9.5
...,...,...,...,...,...,...,...,...,...,...,...
1185,7.0,0.430,0.30,2.0,0.085,6.0,39.0,0.99346,3.33,0.46,11.9
588,5.0,0.420,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9
1428,7.8,0.640,0.00,1.9,0.072,27.0,55.0,0.99620,3.31,0.63,11.0
1109,10.8,0.470,0.43,2.1,0.171,27.0,66.0,0.99820,3.17,0.76,10.8

In [20]:
y_train

903     7
734     5
568     6
1533    5
764     6
       ..
1354    5
1583    5
607     6
1356    5
1519    5
Name: quality, Length: 910, dtype: int64

In [21]:
y_test

1008    7
1163    5
689     5
112     5
510     5
       ..
1185    6
588     8
1582    5
1428    5
1109    6
Name: quality, Length: 449, dtype: int64

In [22]:
# lets buil the model

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
# model train score
model.score(x_train,y_train)

1.0

In [24]:
# lets predict

y_pred= model.predict(x_test)

In [25]:
y_pred

array([6, 6, 5, 5, 7, 7, 6, 6, 5, 7, 5, 5, 6, 5, 5, 6, 5, 5, 7, 5, 6, 6,
       7, 5, 5, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 5, 4, 6, 5, 5, 6, 6, 6,
       5, 5, 5, 5, 5, 6, 6, 5, 5, 6, 3, 7, 6, 7, 4, 5, 6, 6, 7, 5, 6, 6,
       5, 6, 6, 5, 5, 5, 5, 6, 4, 5, 6, 5, 5, 6, 6, 5, 5, 5, 5, 5, 6, 7,
       5, 5, 5, 5, 5, 6, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 5, 5, 6, 7, 5, 5,
       5, 5, 7, 5, 5, 6, 7, 5, 5, 6, 4, 7, 5, 6, 7, 6, 7, 5, 5, 5, 6, 5,
       5, 5, 4, 5, 5, 6, 4, 7, 5, 5, 8, 6, 5, 5, 5, 6, 5, 7, 5, 6, 6, 5,
       6, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 7, 6, 6, 5, 5, 7,
       6, 6, 6, 5, 5, 6, 6, 5, 7, 5, 5, 6, 5, 5, 7, 5, 6, 5, 5, 5, 6, 5,
       7, 7, 6, 5, 5, 6, 6, 6, 6, 4, 5, 6, 6, 5, 7, 7, 6, 5, 5, 5, 7, 8,
       4, 6, 5, 5, 6, 6, 7, 6, 5, 6, 5, 5, 5, 7, 6, 5, 5, 6, 5, 4, 5, 5,
       4, 5, 8, 7, 5, 6, 6, 5, 6, 4, 7, 6, 6, 7, 7, 5, 6, 8, 6, 7, 5, 6,
       6, 6, 5, 7, 5, 6, 6, 6, 7, 5, 6, 6, 7, 7, 7, 6, 7, 5, 5, 6, 5, 6,
       4, 7, 5, 6, 5, 6, 5, 7, 6, 6, 5, 6, 8, 5, 6, 6, 5, 6, 6, 7, 5, 6,
       5, 5, 6, 7, 6, 5, 5, 6, 5, 5, 6, 6, 6, 7, 6, 6, 6, 7, 5, 5, 7, 5,
       6, 5, 7, 5, 6, 6, 5, 5, 5, 5, 7, 5, 6, 5, 5, 5, 6, 7, 7, 7, 5, 7,
       6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 7, 6, 6, 6, 6, 7, 6, 5, 6, 8, 6, 5,
       6, 7, 5, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6, 5, 5, 7, 6, 5, 5, 6, 5,
       6, 5, 6, 6, 5, 5, 6, 4, 7, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5,
       5, 6, 5, 5, 6, 5, 5, 7, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 6, 6, 6, 6,
       5, 5, 6, 6, 6, 7, 5, 4, 6], dtype=int64)

In [26]:
# lets check the test accuracy

from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.5144766146993318

In [27]:
# its a overfitted model

# lets do hyper parameter tuning

# gridsearch  is a method to implementing hyper tuning
grid serch cv means cross validation

In [28]:
# hyperparameter is rsponsible for creating the structure of model

In [29]:
# by using gridsearch cv

grid_param = {
    
    'criterion': ['gini','entropy'],
    'max_depth': range(2,32,1),
    'min_samples_leaf': range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter': ['best','random']
}

In [30]:
# lets run the gridsearch

Grid = GridSearchCV(estimator=model,param_grid=grid_param,cv=5)

In [ ]:
# fitting the data into grid 

Grid.fit(x_train,y_train)

In [ ]:
# search for best parameters of the model

Grid.best_params_

In [ ]:
# creating model with best parameters

model_with= DecisionTreeClassifier(criterion='entropy',max_depth= 3,min_samples_leaf= 8,min_samples_split= 9,splitter= 'random')

In [ ]:
# lets fi the data

model_with.fit(x_train,y_train)

In [ ]:
# prediction

y_with_pred = model_with.predict(x_test)
y_with_pred

In [ ]:
#  accuracy

accuracy_score(y_test, y_with_pred)

# after hyper parameter tuning we saw that its increases accuracy upto 3%

In [ ]:
# lets visualise the tree

from sklearn import tree
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(25,15))
tree.plot_tree(model,max_depth=4,filled=True)

In [ ]:
# to save the figure

fig.savefig("decision_tree_classi.png")

In [ ]:
# lets visualise the tree after hyper parameter tuning

from sklearn import tree
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(25,15))
tree.plot_tree(model_with,filled=True,fontsize=20)

In [ ]:
# to save the figure

fig.savefig("decision_tree_classi_with_hp.png")